body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    /* The image used */
    background-image: url("../images/KIiEkW.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .table-marg {
    margin-bottom: 0;
  }
